<a href="https://colab.research.google.com/github/Gunasekar13/PySpark/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 50 kB/s
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 44.2 MB/s
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 38.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=5c47d123cb4ebef84a15fcc001a06998f9a9c98e341e1b24e5ad893a5238869b
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('Test_pyspark').getOrCreate()

In [5]:
simpledata=[(10,'Administration',200,1700),
(20,'Marketing',201,1800),
(10,'Purchasing',114,1700),
(40,'Human Resources',203,2400),
(10,'Shipping',121,1500),
(40,'IT',103,1400),
(10,'Public Relations',204,2700),
(30,'Sales',145,2500),
(20,'Executive',100,1700)]

column=['dept_id','dept_name','manager_id','salary']

df=spark.createDataFrame(data=simpledata,schema=column)

df.show()

+-------+----------------+----------+------+
|dept_id|       dept_name|manager_id|salary|
+-------+----------------+----------+------+
|     10|  Administration|       200|  1700|
|     20|       Marketing|       201|  1800|
|     10|      Purchasing|       114|  1700|
|     40| Human Resources|       203|  2400|
|     10|        Shipping|       121|  1500|
|     40|              IT|       103|  1400|
|     10|Public Relations|       204|  2700|
|     30|           Sales|       145|  2500|
|     20|       Executive|       100|  1700|
+-------+----------------+----------+------+

## **Create Temp View as sql**

If you want to create temp view that is shared amoung all sessions and keep alive until the Spark application will be terminated , You can create a global temp View

In [6]:
df.createGlobalTempView('employee')
spark.sql("select *from global_temp.employee").show()

+-------+----------------+----------+------+
|dept_id|       dept_name|manager_id|salary|
+-------+----------------+----------+------+
|     10|  Administration|       200|  1700|
|     20|       Marketing|       201|  1800|
|     10|      Purchasing|       114|  1700|
|     40| Human Resources|       203|  2400|
|     10|        Shipping|       121|  1500|
|     40|              IT|       103|  1400|
|     10|Public Relations|       204|  2700|
|     30|           Sales|       145|  2500|
|     20|       Executive|       100|  1700|
+-------+----------------+----------+------+

In [10]:
spark.sql(\
          "Select dept_id,sum(salary)as dept_sal from global_temp.employee group by dept_id"\
          ).show()

+-------+--------+
|dept_id|dept_sal|
+-------+--------+
|     10|    7600|
|     20|    3500|
|     40|    3800|
|     30|    2500|
+-------+--------+

### **User defined Functions**

udf is slow in pyspark because udf is python code is converted to jvm after that it will be runing . the difference is less execution time .

In [12]:
from pyspark.sql.functions import col,udf

In [13]:
def convert_case(str):
  return str.upper()

In [14]:
convert_udf=udf(lambda z:convert_case(z))

In [15]:
df.select(col('dept_id'),convert_udf(col('dept_name').alias('Uppercase'))).show()

+-------+--------------------------------+
|dept_id|<lambda>(dept_name AS Uppercase)|
+-------+--------------------------------+
|     10|                  ADMINISTRATION|
|     20|                       MARKETING|
|     10|                      PURCHASING|
|     40|                 HUMAN RESOURCES|
|     10|                        SHIPPING|
|     40|                              IT|
|     10|                PUBLIC RELATIONS|
|     30|                           SALES|
|     20|                       EXECUTIVE|
+-------+--------------------------------+