<a href="https://colab.research.google.com/github/Gunasekar13/PySpark/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 51 kB/s
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 49.3 MB/s
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 54.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=673a2dbb969de7caa7772ee2df510d2088cf6eabbaa11963df44f3d7b32e8ae0
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('test_spark').getOrCreate()

# **Word count program in pyspark**

**#Create RDD using parallelize**

In [4]:
data=['one','six','Sixteen','nine','two','one','Sixteen','nine','two','three']
word_count_rdd1=spark.sparkContext.parallelize(data)

**#Count word each**

In [7]:
word_count_rdd2=word_count_rdd1.map(lambda x:(x,1))

***#Mearge the same word count ***

In [14]:
merge_rdd=word_count_rdd2.reduceByKey(lambda x,y:x+y)

**#sort the rdd based on counts**

In [16]:
count_rdd=merge_rdd.sortBy(lambda x:x[1],ascending=True).collect()

**#how to see the RDD value**

In [17]:
for word,count in count_rdd:
  print('{},{}'.format(word,count))

three,1
six,1
Sixteen,2
two,2
one,2
nine,2

**#Conver RDD to Dataframe**

In [41]:
df=merge_rdd.toDF()
df.show()

+-------+---+
|     _1| _2|
+-------+---+
|Sixteen|  2|
|    two|  2|
|  three|  1|
|    one|  2|
|    six|  1|
|   nine|  2|
+-------+---+

**### Chage the Column Names**

In [43]:
df=df.withColumnRenamed('_1','word').withColumnRenamed('_2','count')
df.show()

+-------+-----+
|   word|count|
+-------+-----+
|Sixteen|    2|
|    two|    2|
|  three|    1|
|    one|    2|
|    six|    1|
|   nine|    2|
+-------+-----+

**Merge the two Column**

In [44]:
from pyspark.sql.functions import expr
df.withColumn('word_count',expr('word||","||count')).show()

+-------+-----+----------+
|   word|count|word_count|
+-------+-----+----------+
|Sixteen|    2| Sixteen,2|
|    two|    2|     two,2|
|  three|    1|   three,1|
|    one|    2|     one,2|
|    six|    1|     six,1|
|   nine|    2|    nine,2|
+-------+-----+----------+

**Repaet the word twice**

In [45]:
from pyspark.sql.functions import repeat
df.withColumn('word_repeat',repeat('word',2)).show()

+-------+-----+--------------+
|   word|count|   word_repeat|
+-------+-----+--------------+
|Sixteen|    2|SixteenSixteen|
|    two|    2|        twotwo|
|  three|    1|    threethree|
|    one|    2|        oneone|
|    six|    1|        sixsix|
|   nine|    2|      ninenine|
+-------+-----+--------------+

**##lpad and RPad**

In [46]:
from pyspark.sql.functions import lpad,rpad

In [47]:
df.withColumn('word_lpad',lpad('word',10,'*')).show()

+-------+-----+----------+
|   word|count| word_lpad|
+-------+-----+----------+
|Sixteen|    2|***Sixteen|
|    two|    2|*******two|
|  three|    1|*****three|
|    one|    2|*******one|
|    six|    1|*******six|
|   nine|    2|******nine|
+-------+-----+----------+

In [50]:
df.withColumn('word_rpad',rpad('word',10,'#')).show()

+-------+-----+----------+
|   word|count| word_rpad|
+-------+-----+----------+
|Sixteen|    2|Sixteen###|
|    two|    2|two#######|
|  three|    1|three#####|
|    one|    2|one#######|
|    six|    1|six#######|
|   nine|    2|nine######|
+-------+-----+----------+

***Convert the word lowercase to upper Case***

In [52]:
from pyspark.sql.functions import upper,lower
df.withColumn('Word_upper',upper('word')).show()

+-------+-----+----------+
|   word|count|Word_upper|
+-------+-----+----------+
|Sixteen|    2|   SIXTEEN|
|    two|    2|       TWO|
|  three|    1|     THREE|
|    one|    2|       ONE|
|    six|    1|       SIX|
|   nine|    2|      NINE|
+-------+-----+----------+

**Convert the word upper case to lower Case**

In [53]:
df.withColumn('Word_lower',lower('word')).show()

+-------+-----+----------+
|   word|count|Word_lower|
+-------+-----+----------+
|Sixteen|    2|   sixteen|
|    two|    2|       two|
|  three|    1|     three|
|    one|    2|       one|
|    six|    1|       six|
|   nine|    2|      nine|
+-------+-----+----------+