<a href="https://colab.research.google.com/github/Gunasekar13/PySpark/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 45 kB/s
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 47.9 MB/s
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 45.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=f6aae2fe2251850791f7903588818e766591a40f72898dcc916199429e203fb9
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('test_pyspark').getOrCreate()

In [ ]:
simpledata=[(10,'Administration',200,1700),
(20,'Marketing',201,1800),
(10,'Purchasing',114,1700),
(40,'Human Resources',203,2400),
(10,'Shipping',121,1500),
(40,'IT',103,1400),
(10,'Public Relations',204,2700),
(30,'Sales',145,2500),
(20,'Executive',100,1700)]

column=['dept_id','dept_name','manager_id','salary']

df=spark.createDataFrame(data=simpledata,schema=column)

df.show()

+-------+----------------+----------+------+
|dept_id|       dept_name|manager_id|salary|
+-------+----------------+----------+------+
|     10|  Administration|       200|  1700|
|     20|       Marketing|       201|  1800|
|     10|      Purchasing|       114|  1700|
|     40| Human Resources|       203|  2400|
|     10|        Shipping|       121|  1500|
|     40|              IT|       103|  1400|
|     10|Public Relations|       204|  2700|
|     30|           Sales|       145|  2500|
|     20|       Executive|       100|  1700|
+-------+----------------+----------+------+

 **print value in verticle form**

In [ ]:
df.show(vertical=True)

-RECORD 0----------------------
 dept_id    | 10
 dept_name  | Administration
 manager_id | 200
 salary     | 1700
-RECORD 1----------------------
 dept_id    | 20
 dept_name  | Marketing
 manager_id | 201
 salary     | 1800
-RECORD 2----------------------
 dept_id    | 10
 dept_name  | Purchasing
 manager_id | 114
 salary     | 1700
-RECORD 3----------------------
 dept_id    | 40
 dept_name  | Human Resources
 manager_id | 203
 salary     | 2400
-RECORD 4----------------------
 dept_id    | 10
 dept_name  | Shipping
 manager_id | 121
 salary     | 1500
-RECORD 5----------------------
 dept_id    | 40
 dept_name  | IT
 manager_id | 103
 salary     | 1400
-RECORD 6----------------------
 dept_id    | 10
 dept_name  | Public Relations
 manager_id | 204
 salary     | 2700
-RECORD 7----------------------
 dept_id    | 30
 dept_name  | Sales
 manager_id | 145
 salary     | 2500
-RECORD 8----------------------
 dept_id    | 20
 dept_name  | Executive
 manager_id | 100
 salary     | 1700

**Or operation in filter**

In [ ]:
from pyspark.sql.functions import col
df.filter((col('dept_name')=='IT') | (col('dept_name')=='Executive')).show()

+-------+---------+----------+------+
|dept_id|dept_name|manager_id|salary|
+-------+---------+----------+------+
|     40|       IT|       103|  1400|
|     20|Executive|       100|  1700|
+-------+---------+----------+------+

**And operation in filter**

In [ ]:
df.filter((col('salary')>=1500) & (col('salary')<=2000)).show()

+-------+--------------+----------+------+
|dept_id|     dept_name|manager_id|salary|
+-------+--------------+----------+------+
|     10|Administration|       200|  1700|
|     20|     Marketing|       201|  1800|
|     10|    Purchasing|       114|  1700|
|     10|      Shipping|       121|  1500|
|     20|     Executive|       100|  1700|
+-------+--------------+----------+------+

In [ ]:
df.cache()

DataFrame[dept_id: bigint, dept_name: string, manager_id: bigint, salary: bigint]

**Group by **

In [ ]:
df.groupby('dept_id').count().show()

+-------+-----+
|dept_id|count|
+-------+-----+
|     10|    4|
|     20|    2|
|     40|    2|
|     30|    1|
+-------+-----+

**sum of**

In [ ]:
df.groupby('dept_id').sum('salary').show()

+-------+-----------+
|dept_id|sum(salary)|
+-------+-----------+
|     10|       7600|
|     20|       3500|
|     40|       3800|
|     30|       2500|
+-------+-----------+

**Sum of with alias name**

In [ ]:
df.groupby('dept_id').sum('salary').alias('sum_sal').show()

+-------+-----------+
|dept_id|sum(salary)|
+-------+-----------+
|     10|       7600|
|     20|       3500|
|     40|       3800|
|     30|       2500|
+-------+-----------+

**Write multiple agg function in single query**

In [ ]:
from pyspark.sql.functions import sum,max,min,avg,mean,col

df.groupby('dept_id').agg(sum('salary').alias('sum_sal'),\
                          max('salary').alias('max_sal'),\
                          min('salary').alias('min_sal'),\
                          mean('salary').alias('mean_sal'),\
                          avg('salary').alias('avg_sal')).show()

+-------+-------+-------+-------+--------+-------+
|dept_id|sum_sal|max_sal|min_sal|mean_sal|avg_sal|
+-------+-------+-------+-------+--------+-------+
|     10|   7600|   2700|   1500|  1900.0| 1900.0|
|     20|   3500|   1800|   1700|  1750.0| 1750.0|
|     40|   3800|   2400|   1400|  1900.0| 1900.0|
|     30|   2500|   2500|   2500|  2500.0| 2500.0|
+-------+-------+-------+-------+--------+-------+

**where condition**

In [ ]:
from pyspark.sql.functions import col,sum
df.where(col('dept_id')>20).show()

+-------+---------------+----------+------+
|dept_id|      dept_name|manager_id|salary|
+-------+---------------+----------+------+
|     40|Human Resources|       203|  2400|
|     40|             IT|       103|  1400|
|     30|          Sales|       145|  2500|
+-------+---------------+----------+------+

*** agg function with where conditions ***

In [15]:
df.groupby('dept_id').sum('salary').alias('sum_sal').\
where(col('dept_id')>20).show()

+-------+-----------+
|dept_id|sum(salary)|
+-------+-----------+
|     40|       3800|
|     30|       2500|
+-------+-----------+

***To find who are all dept_name start with 'p' ***

In [19]:
df.filter(col('dept_name').like('P%')).show()

+-------+----------------+----------+------+
|dept_id|       dept_name|manager_id|salary|
+-------+----------------+----------+------+
|     10|      Purchasing|       114|  1700|
|     10|Public Relations|       204|  2700|
+-------+----------------+----------+------+

In [27]:
df.filter(col('dept_name').startswith('P')).show()

+-------+----------------+----------+------+
|dept_id|       dept_name|manager_id|salary|
+-------+----------------+----------+------+
|     10|      Purchasing|       114|  1700|
|     10|Public Relations|       204|  2700|
+-------+----------------+----------+------+

***To find who are dept_name end with 'g'***

In [28]:
df.filter(df.dept_name.like('%g')).show()

+-------+----------+----------+------+
|dept_id| dept_name|manager_id|salary|
+-------+----------+----------+------+
|     20| Marketing|       201|  1800|
|     10|Purchasing|       114|  1700|
|     10|  Shipping|       121|  1500|
+-------+----------+----------+------+

In [29]:
df.filter(df.dept_name.endswith('g')).show()

+-------+----------+----------+------+
|dept_id| dept_name|manager_id|salary|
+-------+----------+----------+------+
|     20| Marketing|       201|  1800|
|     10|Purchasing|       114|  1700|
|     10|  Shipping|       121|  1500|
+-------+----------+----------+------+

***To find the dept_name who are all having 'e' in name***

In [30]:
df.filter(df.dept_name.like('%e%')).show()

+-------+----------------+----------+------+
|dept_id|       dept_name|manager_id|salary|
+-------+----------------+----------+------+
|     20|       Marketing|       201|  1800|
|     40| Human Resources|       203|  2400|
|     10|Public Relations|       204|  2700|
|     30|           Sales|       145|  2500|
|     20|       Executive|       100|  1700|
+-------+----------------+----------+------+

***To find who are all dept_name having 'a' in second letter***

In [31]:
df.filter(df.dept_name.like('_a%')).show()

+-------+---------+----------+------+
|dept_id|dept_name|manager_id|salary|
+-------+---------+----------+------+
|     20|Marketing|       201|  1800|
|     30|    Sales|       145|  2500|
+-------+---------+----------+------+

***change the column name 'Dept_name' To 'department'***

In [33]:
df.withColumnRenamed('dept_name','department').show()

+-------+----------------+----------+------+
|dept_id|      department|manager_id|salary|
+-------+----------------+----------+------+
|     10|  Administration|       200|  1700|
|     20|       Marketing|       201|  1800|
|     10|      Purchasing|       114|  1700|
|     40| Human Resources|       203|  2400|
|     10|        Shipping|       121|  1500|
|     40|              IT|       103|  1400|
|     10|Public Relations|       204|  2700|
|     30|           Sales|       145|  2500|
|     20|       Executive|       100|  1700|
+-------+----------------+----------+------+

***Change the column name ('salary' to 'sal' ) and ('department' to 'dept_id')***

In [34]:
df.withColumnRenamed('salary','sal').withColumnRenamed('department','dept_id').show()

+-------+----------------+----------+----+
|dept_id|       dept_name|manager_id| sal|
+-------+----------------+----------+----+
|     10|  Administration|       200|1700|
|     20|       Marketing|       201|1800|
|     10|      Purchasing|       114|1700|
|     40| Human Resources|       203|2400|
|     10|        Shipping|       121|1500|
|     40|              IT|       103|1400|
|     10|Public Relations|       204|2700|
|     30|           Sales|       145|2500|
|     20|       Executive|       100|1700|
+-------+----------------+----------+----+